* {
    justify-content: center;
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}



#menu ul {
    padding-top: 18px;
    width: 100%;
    list-style: none;
    text-align: right;
}

#menu {
    height: 5.9rem;
    background: url("../img/fundo-da-placa-de-circuito-sumário-computadores-tecnologia-56747246 1.png");
}

#menu ul li {
    margin-top: 20px;
    display: inline-block;
    margin: 6px;
}

#menu ul li a {
    padding: 10px 10px;
    display: inline-block;
    /* visual do link */
    color: aliceblue;
    text-decoration: none;
    text-transform: uppercase;
}

#menu ul li a:hover {
    background-color: #2D31FA;
    text-shadow: 13px;
    border: 2px solid aliceblue;
    transition: all 0.4s ease-in-out;
    border-radius: 3px;
}

table {
    width: 100%;
    display: flex;
}

#cabecalho td img[class="computador"] {
    width: auto;
    margin: 0 auto;
    display: flex;
}

.txtcomputador {
    font-size: 16px;
    text-align: center;
    padding: 2px;
    margin: 2px;
    width: 200px;
}

#cabecalho,
td img[class="monitor"] {
    width: auto;
    margin: 0 auto;
    display: flex;
}

.txtmonitor {
    font-size: 16px;
    text-align: center;
    padding: 2px;
    margin: 2px;
    width: 200px;
}

#cabecalho,
td img [class="mouse"] {
    width: auto;
    margin: 0 auto;
    display: flex;
}

.txtmouse {
    font-size: 17px;
    text-align: center;
    padding: 2px;
    margin: 2px;
    width: 200px;
}

#cabecalho,
td img[class="teclado"] {
    width: auto;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.txtteclado {
   font-size: 18px;
   text-align: center;
   padding: 2px;
   margin: 2px;
   width: 200px;
}

.computador {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin: 25px;
    align-items: center;
}

.imgR {
    width: 250px;
}

.imgT {
    width: 250px;
}

.imgC {
    width: 250px;
}

.imgM {
    width: 250px;
}

.btncomprarC{
    background-color: blue;
    cursor: pointer;
    color: white;
    text-decoration: none;
    padding: 0.6em;
    margin-top: 4px;
}

.btncomprarMonitor {
    background-color: blue;
    cursor: pointer;
    color: white;
    text-decoration: none;
    padding: 0.6em;
    margin-top: 3.1em;
}

.btncomprarMouse {
    background-color: blue;
    cursor: pointer;
    color: white;
    text-decoration: none;
    padding: 0.6em;
    margin-top: 3.2em;
}

.btncomprarTeclado {
    background-color: blue;
    cursor: pointer;
    color: white;
    text-decoration: none;
    padding: 0.6em;
    margin-top: 4.7em;
    
}

footer {
    background-color: #444444;
    padding: 2rem;
    margin-top: 470px;
    position: relative;
    width: 100%;
}



