* {
    justify-content: center;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
}

#menu ul {
    padding-top: 18px;
    width: 100%;
    list-style: none;
    text-align: right;
}

#menu {
    height: 5.9rem;
    background: url("../img/fundo-da-placa-de-circuito-sumário-computadores-tecnologia-56747246 1.png");
}

#menu ul li {
    margin-top: 20px;
    display: inline-block;
    margin: 6px;
}

#menu ul li a {
    padding: 10px 10px;
    display: inline-block;
    /* visual do link */
    color: aliceblue;
    text-decoration: none;
    text-transform: uppercase;
}

#menu ul li a:hover {
    background-color: #2D31FA;
    text-shadow: 13px;
    border: 2px solid aliceblue;
    transition: all 0.4s ease-in-out;
    border-radius: 3px;
}

table{
    width: 100%;
    display: flex;
}

table tr td img[class="computador"] {
    width: 20rem;
    height: auto;
}

table tr td img[class="mouse"] {
    width: 20rem;
    height: auto;
}

table tr td img[class="teclado"] {
    width: 20rem;
    height: auto;
}

table tr td img[class="monitor"] {
    width: 20rem;
    height: auto;
    padding: 10px;
}

.txt-computador {
    width: 185px;
    height: 10rem;
    font-size: medium;
    text-align: center;
    margin-left: 36px;
}

.txt-mouse {
    width: 185px;
    height: 10rem;
    font-size: 54px;
    text-align: center;
    display: flex;
    align-items: flex-end;
    margin-left: 36px;
}

.txt-teclado {
    width: 250px;
    height: 10rem;
    font-size: medium;
    margin: auto;
    float: center;
    padding: 18%;
}

.btn-comprar-teclado {
    background-color: blue;
    color: aliceblue;
    margin: 50px 120px;
    width: 25%;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center ;
}

.txt-monitor {
    width: 200px;
    height: 100px;
    font-size: medium;
    text-align: center;
    align-items: center;
    margin: 41px;
}

.btn-comprar-Computador {
    background-color: blue;
    color: aliceblue;
    margin: 30px 80px;
    padding: 9px;
    width: 25%;
    display: flex;
    justify-content: center;
    align-items: center ;
}

.btn-comprar-mouse{
    background-color: blue;
    color: aliceblue;
    margin: 30px 90px;
    padding: 9px;
    width: 25%;
    display: flex;
    justify-content: center;
    align-items: center ;

}

.btn-comprar-monitor {
    background-color: blue;
    color: aliceblue;
    margin: 30px 90px;
    padding: 6px;
    width: 25%;
    display: flex;
    justify-content: center;
    align-items: center ;
}